{erl_opts, [
	    {parse_transform, lager_transform},
	    warn_unused_vars,
	    warn_export_all,
	    warn_shadow_vars,
	    warn_unused_imports,
	    warn_unused_function,
	    warn_bif_clash,
	    warn_unused_record,
	    warn_deprecated_function,
	    warn_obsolete_guard,
	    strict_validation,
	    warn_export_vars,
	    warn_exported_vars,
	    debug_info
	   ]
}.
{plugins, [rebar3_hex, rebar3_auto]}.

{deps, [
	{nklib, {git, "git@github.com:nisbus/nklib.git", {branch, "rebar_deps_update"}}},
	{cowboy, "2.6.3"},
	{certifi, "2.5.1"},
	{ssl_verify_fun, "1.1.5"},
	% Used for tests
	{gun,  "1.3.0"},
	{meck, "0.8.13"}
       ]
}.


{xref_checks, [
    undefined_function_calls, undefined_functions,
    locals_not_used, deprecated_function_calls, deprecated_functions
]}.

{profiles, [{test, [{deps, [meck]}]}]}.
